<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<table>

    <tbody>
    <tr th:each="u : ${page.list}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.age}"></td>

    </tr>
    </tbody>
</table>


<div>
    <a th:href="@{/u/findAll(start=1)}">首页</a>
    <a th:if="${not page.IsFirstPage}" th:href="@{/u/findAll(start=${page.pageNum-1})}">上页</a>
    <a th:if="${not page.IsLastPage}" th:href="@{/u/findAll(start=${page.pageNum+1})}">下页</a>
    <a th:href="@{/u/findAll(start=${page.pages})}">末页</a>

    <div>当前页/总页数：<a th:text="${page.pageNum}" th:href="@{/listall(start=${page.pageNum})}"></a>
        /<a th:text="${page.pages}" th:href="@{/listall(start=${page.pages})}"></a></div>
</div>


</body>
</html>